*{
    margin-top: 0;
    padding: 0;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    width: 40vw ;
    height: 40vh;
    background-color:;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 5px 20px 30px#17A6FF;
    border: 5px solid #0150F0;
}

.container-items {
    position: center;
    display: flex;
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
    overflow: hidden;
}

.item {
    width: 30vw;
    height: 40vh;
    transition: all 1s;
}

.item:first-child{
    margin-left: -100%;
}

.item img {
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
}

.action-button {
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none;
    z-index: 1;
}

.action-button:hover {
    color: white;
    background-color:  #0B32D9;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
  
}

.container-slide {
   
    position: relative;
    top: 1pt;
}
